<ion-view view-title="About Us">
<ion-content class="background">
      <ion-list><br/><br/>
<pre style="padding-left:5px; padding-right: 5px;font-weight:bold;color:#00d4bd">
GTU (Gujarat Technological University) Techfest is the annual science and technological festival of all the engineering colleges of Gujarat. It also refers to the independent body of students who organize this event along with many other social initiatives and outreach programs round the year. Techfest is known for hosting variety of events that includes Technical events, Quizzes, Exhibitions, Confab’17 (A lecture series) as well as Workshops. It is amongst few organisations to have received patronage from various NGOs, for promotions of technical know-how and the social causes taken up through intellectual competitions and other initiatives over the years.

	Started three years ago, with the aim of providing a platform for the student community to develop and exhibit their technical prowess. It has now grown into Gujarat’s largest science and technological festival. The activities culminate in a grand two day festival in the month of March, hosted by L.D. COLLEGE OF ENGINEERING which attracts a crowd from all over Gujarat and India, including students, academia, corporates and the general public.
	
	Technical events like ATV championship, Robotics, C-villa and Mekkato have created benchmark for Gujarat Technological University, as it had the highest participation of all the events from any college in Gujarat. Quizzes were also one of the most anticipated event for the students as the Nation-wide famous quiz masters – J.Ramanand, Suraj Menon, and Vikram Joshi proctored it.
</pre>
      </ion-list>
</ion-content>
</ion-view>
