<ion-view view-title="sectionName">
  <ion-content class="background">
    <div class="list card border" ng-repeat="event in events">
      <div class="item item-text-wrap item-stable">
        <a style="text-decoration:none;text-align:center;" ng-click="getId(event._id)" href="#/app/technicalEvents/{{sectionTitle}}/{{event.title}}">
			<h3 style="color:#333">{{event.name}}</h3>
		</a>
		<!--<h4>{{video.snippet.description}}</h4>-->
      </div>
      <div class="item-image">
		<a ng-click="getId(event._id)" href="#/app/technicalEvents/{{sectionTitle}}/{{event.title}}">
		<img ng-src="img/event.jpg">
		</a>
        <!--<img ng-src="{{video.snippet.thumbnails.high.url}}">-->
      </div>
	  

    </div>
	
	<div style="height:100px"></div>
  </ion-content>
</ion-view>
