<ion-view view-title="Playlist">
  <ion-content>
    <div class="list card" ng-repeat="event in events">
      <div class="item item-text-wrap">
        <a style="text-decoration:none;" href="#/app/technicalEvents/{{sectionTitle}}/{{event.title}}">
			<h3>{{event.title}}</h3>
		</a>
		<!--<h4>{{video.snippet.description}}</h4>-->
      </div>
      <div >
		<a href="#/app/technicalEvents/{{sectionTitle}}/{{event.title}}">
		<img ng-src="https://cdn3.iconfinder.com/data/icons/abstract-1/512/duration-128.png">
		</a>
        <!--<img ng-src="{{video.snippet.thumbnails.high.url}}">-->
      </div>
	  

    </div>
  </ion-content>
</ion-view>
