<ion-view view-title="eventName">
<ion-floating-button click="share()" has-footer="true" button-color="#00d4bd" icon="ion-android-share" iconColor="#fff">
</ion-floating-button>
  <ion-content class="background"><br/>
  
	
	<div class="item-image">
	<img class="image" src={{event.event_pic}}>
	<p class="event-caption"><span>Attend my event, plz!!!</span></p>
	</div>
	
    <div class="list card">
      <div class="item item-divider item-stable">
	  <h3>Description</h3>
	  </div>
	  <div class="item item-text-wrap">
			<p>{{event.description}}</p>
	</div>
	</div>
	
	<div class="list card" >
		<div class="item item-divider item-stable">
	  <h3>Problem Statement</h3>
	  </div>
    <div class="item item-text-wrap">
		<p>{{event.problem_statement}}</p>
	  </div>
	</div>
	
	<ion-list>
        <div class="list card" ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{accordionActive: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div>
    </ion-list>
	
	<h3 class="event-manager-title">Event Manager</h3>
	
	<div class="list card" ng-repeat="manager in event.event_manager" style="color:#00d4bd;font-size:20px;background-color:black;opacity:0.5">
      <p>{{manager[0]}}</p>
	  <p><i class="icon ion-ios-telephone"></i>&nbsp;&nbsp;{{manager[1]}}</p>
	  <p><i class="icon ion-email"></i>&nbsp;&nbsp;{{manager[2]}}</p> 

    </div>
	
	<!--<div class="list card">

	  <div ng-repeat="manager in event.event_manager">
	  <p>{{manager[0]}}</p>
	  <p><i class="icon ion-ios-telephone"></i>{{manager[1]}}</p>
	  <p><i class="icon ion-email"></i>&nbsp;&nbsp;{{manager[2]}}</p>  
	  </div>

    </div>-->
	
	<!--<div class="list card" >
	<div class="item item-divider">
	  <h3>Devang Bhuva</h3>
	 </div>
    <p><i class="icon ion-ios-telephone"></i>&nbsp;&nbsp;1234567891</p>
	<p><i class="icon ion-email"></i>&nbsp;&nbsp;dasdasddfweffew@gmail.com</p>  
	</div>
	
	<div class="list card" >
	<div class="item item-divider">
	  <h3>Devang Bhuva</h3>
	 </div>
    <p><i class="icon ion-ios-telephone"></i>&nbsp;&nbsp;1234567891</p>
	<p><i class="icon ion-email"></i>&nbsp;&nbsp;dasdasddfweffew@gmail.com</p>  
	</div>-->
	
	
	
  </ion-content>
</ion-view>
