<ion-view view-title="Browse">
  <ion-content>

	<div class="list card responsive-card" ng-repeat="section in sections">
      <div class="item item-text-wrap">
        <a style="text-decoration:none;" href="#/app/technicalEvents/{{section.title}}" ng-click="getSectionTitle(section.title)">
			<h3>{{section.title}}</h3>
		</a>
		<!--<h4>{{video.snippet.description}}</h4>-->
      </div>
      <div >
		<a href="#/app/technicalEvents/{{section.title}}" ng-click="getSectionTitle(section.title)">
		<img width="100%" height="100%" ng-src="https://cdn3.iconfinder.com/data/icons/abstract-1/512/duration-128.png">
		</a>
        <!--<img ng-src="{{video.snippet.thumbnails.high.url}}">-->
      </div>
	  

    </div>
  
  </ion-content>
</ion-view>

	
	<!--<div class="card responsive-card" ng-repeat="section in sections">
    <div class="item item-divider item-positive">
        {{section.title}}
    </div>
    
</div>-->